@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* * {
  border: 1px solid red;
} */

.app-text-shadow-display {
  text-shadow: rgb(223, 185, 31) 0px 1px 0px, rgb(205, 169, 22) 0px 2px 0px,
    rgb(186, 153, 18) 0px 3px 0px, rgb(164, 132, 1) 0px 4px 0px,
    rgba(0, 0, 0, 0.23) 0px 0px 5px, rgba(0, 0, 0, 0.43) 0px 1px 3px,
    rgba(0, 0, 0, 0.4) 1px 4px 6px, rgba(0, 0, 0, 0.38) 0px 5px 10px,
    rgba(0, 0, 0, 0.25) 3px 7px 12px;
}

.center {
  @apply flex items-center justify-center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 20px;
}